---
import Education from "../components/Education.astro";
import HackathonWinnerFireSpotter from "../components/HackathonWinnerFireSpotter.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Header />
  <main>
    <Education />
    <HackathonWinnerFireSpotter />
  </main>
</BaseLayout>
