<section id="education">
  <h2>Education</h2>
  <p>
    Holder of an Advanced Vocational Training Certificate in <strong
      >Web Application Development</strong
    > at <abbr title="Institute of Secondary Education (High School)">I.E.S.</abbr>
    Juan de Garay. However, I also graduate from Malaga University with a degree in <strong
      >Marketing and Market Research</strong
    >.
  </p>
</section>
