---
import { Picture } from "astro:assets";
import trademark from "../images/pablocru-trademark-circle.png";

const imageFixedWidth = 350;
---

<header>
  <div id="hero-image">
    <Picture
      src={trademark}
      width={imageFixedWidth}
      alt="Pablo Cru's personal brand trademark"
      loading="eager"
      formats={["avif", "webp"]}
    />
  </div>
  <section id="about-me">
    <h1 id="pablocru">Pablo Cru Delhom</h1>
    <h2>Full Stack Web Developer</h2>
    <p>
      I like to create <strong>solid website applications</strong> focused on reliability and
      scalability following good practices. Non stop improving my programming skills <cite
        ><a href="https://www.swyx.io/learn-in-public" title="SWYX's Learning Philosophy"
          >learning in public</a
        ></cite
      > on my <a href="https://github.com/pablocru" title="Take a look at my repositories"
        >GitHub profile</a
      >.
    </p>
  </section>
</header>

<style define:vars={{ imageFixedWidth: imageFixedWidth + "px" }}>
  /* Ensure flexbox layout only applies in browsers that support it */
  @supports (display: flex) {
    header {
      display: flex; /* Horizontal by default */
      gap: 1em;
      align-items: center;
      /* Allows items to wrap into multiple lines if children don't fit */
      flex-wrap: wrap;
    }

    #hero-image {
      width: var(--imageFixedWidth);
      flex-shrink: 0; /* Prevents container from shrinking below its width */
    }

    #about-me {
      flex: 1; /* Grows to fill available space in the row */
      /* Forces container to wrap if space is insufficient */
      min-width: var(--imageFixedWidth);
    }
  }
</style>
